
body {
    background-color: #fdf7c0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h2 {
    text-align: center;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}


table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border: 1px solid #666;
}


th {
    background-color: #7a93b9;   
    color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 8px 12px;
    font-weight: bold;
    text-align: center;
}


td {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 6px 10px;
    text-align: center;
    background-color: #ffffff;
    font-size: 14px;
}


tr:nth-child(even) td {
    background-color: #e8edf3;
}
